COMPOSE_PROJECT_NAME=omp-local
OMP_HTTP_PORT=8080

DB_NAME=omp
DB_USER=omp
DB_PASSWORD=omp
DB_ROOT_PASSWORD=rootpass

OMP_VERSION=3_3_0-12
OMP_BASE_URL=http://localhost:8080
OMP_ALLOWED_HOSTS=["localhost","127.0.0.1"]

OMP_ADMIN_USER=admin
OMP_ADMIN_PASSWORD=admin123!
OMP_ADMIN_EMAIL=admin@localhost.test

OMP_PRESS_PATH=home
OMP_PRESS_NAME=ITK Press
